<div id="board">
	<table cellspacing="0" cellpadding="0">
		<thead>
		</thead>
		<tbody>
			<tr>
				<td><%= link_to "#{}", board_path %></td>
				<td><%= link_to "#{}", board_path %></td>
				<td><%= link_to "#{}", board_path %></td>
			</tr>
			<tr>
				<td><%= link_to "#{}", board_path %></td>
				<td><%= link_to "#{}", board_path %></td>
				<td><%= link_to "#{}", board_path %></td>
			</tr>
			<tr>
				<td><%= link_to "#{}", board_path %></td>
				<td><%= link_to "#{}", board_path %></td>
				<td><%= link_to "#{}", board_path %></td>
			</tr>
		</tbody>
	</table>
</div>
<br />
<%= link_to 'Quit game', root_path %>
<h2>About Tic-tac-toe:</h2>
<p>
Also called Noughts and crosses (in the UK, Australia, New Zealand, South Africa, India and the rest of the British Commonwealth countries), is a pencil-and-paper game for two players, X and O, who take turns marking the spaces in a 3×3 grid. The X player usually goes first. The player who succeeds in placing three respective marks in a horizontal, vertical, or diagonal row wins the game. This explanation comes from Wikipedia and you can learn more about it by clicking <a href="http://en.wikipedia.org/wiki/Tic-tac-toe">here</a>.
</p>	 