<p><%= link_to 'Quit game', quit_game_path %></p>
<br />
<p id="message"><%= @message %></p>
<div id="board">
	<table cellspacing="0" cellpadding="0">
		<thead>
		</thead>
		<tbody>
			<tr id = "top">
				<td><%= link_to "#{@board[:s0]}", human_move_path(:square => "s0") %></td>
				<td><%= link_to "#{@board[:s1]}", human_move_path(:square => "s1") %></td>
				<td><%= link_to "#{@board[:s2]}", human_move_path(:square => "s2") %></td>
			</tr>
			<tr>
				<td><%= link_to "#{@board[:s3]}", human_move_path(:square => "s3") %></td>
				<td><%= link_to "#{@board[:s4]}", human_move_path(:square => "s4") %></td>
				<td><%= link_to "#{@board[:s5]}", human_move_path(:square => "s5") %></td>
			</tr>
			<tr>
				<td><%= link_to "#{@board[:s6]}", human_move_path(:square => "s6") %></td>
				<td><%= link_to "#{@board[:s7]}", human_move_path(:square => "s7") %></td>
				<td><%= link_to "#{@board[:s8]}", human_move_path(:square => "s8") %></td>
			</tr>
		</tbody>
	</table>
</div>
